<ul class="todayDroppedItems droppedItems list-group">
	<li class="unresolved dayItem list-group-item">
		<span class=".description">New item</span> 
		
		<span class="resolutionButton btn-group">
			<button type="button" 
					class="btn btn-primary dropdown-toggle"
					data-toggle="dropdown" aria-expanded="false">
					Resolve It 
					<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Event</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Task</a></li>
				<li class="divider"></li>
				<li><a href="#">New Project</a></li>
				<li><a href="#">Project Event</a></li>
				<li><a href="#">Project Activity</a></li>
				<li><a href="#">Project Task</a></li>
				<li class="divider"></li>
				<li><a href="#">Delete</a></li>
			</ul>
		</span>
	</li>
	
	
</ul>