@CHARSET "UTF-8";

.pageHeader {
	width: 100%;
	background-color: #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.dropIdea {
	margin-left: auto;
	margin-right: auto;
}

.dropIdea > .mainInput > .form-control,
.dropIdea > .mainInput > .input-group-btn > .btn {
	height: 60px;
 	font-size: 30px;
}




.droppedItems > .list-group-item {
	border-left-width: 5px;
	height: 55px;
	overflow: visible;
	border-left-color: #eee;
}

.droppedItems > .list-group-item:HOVER {
	background-color: #eee;
}

.droppedItems .resolutionButton {
	float: right;
}

.todayDroppedItems > .unresolved {
	border-left-color: #398439;
}

.yesterdayDroppedItems > .unresolved {
	border-left-color: #eea236;
}

.oldDroppedItems > .unresolved {
	border-left-color: #ac2925;
}

