@CHARSET "UTF-8";

.pageHeader {
	width: 100%;
	background-color: #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.dropIdea {
	margin-left: auto;
	margin-right: auto;
}

.dropIdea > .mainInput > .form-control,
.dropIdea > .mainInput > .input-group-btn > .btn {
	height: 60px;
 	font-size: 30px;
}

.dayGroup > .list-group-item {
	border-left-width: 2px;
	height: 55px;
	overflow: visible;
}

.dayItem:HOVER {
	background-color: #eee;
}

.dayGroup > .newItem {
	border-left-color: #398439;
}

.dayGroup > .yesterdayItem {
	border-left-color: #eea236;
}

.dayGroup > .pastItem {
	border-left-color: #ac2925;
}

.todayGroup > .list-group-item > .resolutionButton {
	float: right;
	
}





